<form action="/artist-search" method="GET">
        <div>
            <label for="artist" class="form-label"></label>
            <input type="text" id="artist" name="artist">
        </div>
        <button type="submit" class="btn btn-primary">Search for an Artist</button>
    </form>